.App {
  text-align: center;
  background-color: red;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.emailForm {
  width: 111% !important;
}

.formControl {
  width: 90%;
  margin-bottom: 6px;
}

.formTop {
  width: 40%;
  background-color: bisque;
  padding: 1.5em;
  margin-top: 5.5em;
  margin-left: 8em;
  border-radius: 7px;
}

#asap {
  float: right;
  margin-top: 3px;
  max-width: 400px;
}

.asapForm {
  width: 90%;
}

.navclass {
  background-color: #313127 !important;
  border-radius: 7px;
  min-width: 19em;
  max-height: 2.5em;
  /* margin-right: 8rem; */
  display: flex;
  justify-content: center;
}

#naveen {
  background-color: bisque;
  border: 1em !important;
  border-color: black !important;
  border-radius: 7px;
  max-width: 49.25%;
  min-width: auto;
  max-height: 3.75em;
  padding: 10px; 
  margin: 10px; 
  text-decoration: underline;
  margin-left: 25px;
}

#rightNav {
  padding-left: 33%;
  margin-left: auto;
  min-width: 200px !important;
  display: flex;
  flex-direction: row;
  align-items: flex-end !important;
}

.card {
  max-width: 23.5%; 
  margin-top: 5.5em !important;
  margin: 2em;
  border-radius: 7px !important;
  background-color: bisque;
}

#listCard1 {
  background-color: bisque !important;
}

.card2body {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,69,1) 99%, rgba(0,212,255,1) 100%);
  height: 10.8rem !important;
  border-top-left-radius: 7px ;
  border-top-right-radius: 7px ;
}

.card2Main {
  max-height: 31.3rem;
}

.soon {
  max-height: 50px;
}

.cardImage {
  background-color: #193551;
  height: 25rem;
  max-width: 24rem;
  display: flex;
  align-content: center;
  border-top-left-radius: 7px ;
  border-top-right-radius: 7px !important;
}

.aboot {
  margin-top: 5.5em;
  margin-left: 1rem;
  max-width: 49.9%;
  /* padding-top: 1em; */
  background-color: bisque;
  width: 51%;
  border-radius: 7px;
  padding: 2em;
}

.ul {
  columns: 2;
}

.homie {
  padding: 1em;
  margin: 5em;
  width: 43%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-background-image{
  background-image: url("https://static9.depositphotos.com/1010826/1179/v/600/depositphotos_11791918-stock-illustration-tower-cranes.jpg");
  background-position: 'center';
  background-size: 'cover';
  background-repeat: 'no-repeat';
  min-height: '100vh';
  color: 'red';
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}